body{
    padding: 0;
    margin: 0;
}


#board{
    background-color: lightblue;
    height: 100vh;
    position: relative;
}


#player{
    background-color: hotpink;
    position: absolute;
}

.obstacle {
    position: absolute;
    background-color: black;
}

