body{
    padding: 0;
    margin: 0;
}


#board{
    background-color: lightblue;
   height: 100vh;
   width: 100vw;
    position: relative;
}


#player{
    position: absolute;
    height: auto;
}

.obstacle {
    position: absolute;
}

